@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

.main-name {
  font-family: "Quicksand", sans-serif;
  font-size: 75px;
  padding-top: 2em;
  color: #fff;
  text-align: center;
}

.main-name span {
  font-weight: 400;
}

.main-sub {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  color: #faf7ff;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}
