@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

:root {
  --bg: #121212;
  --accent: #8685ef;
  --darker-bg: #272533;
  --secondary: #faf7ff;
}

.main-name {
  font-family: "Quicksand", sans-serif;
  font-size: 75px;
  padding-top: 2em;
  color: #fff;
  text-align: center;
}

.main-name span {
  font-weight: 400;
}

.main-sub {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  color: #faf7ff;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: block;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 12em;
  margin-bottom: 5em;
  border-radius: 100px;
  background-color: var(--darker-bg);
  border-radius: 10px;
  padding: 50px;
  width: fit-content;
}

.card-text {
  font-family: "Quicksand", sans-serif;
  padding: 2px 16px;
  color: #faf7ff;
  font-size: 20px;
  text-align: left;
}

.card-text span {
  font-weight: 700;
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 35px;
}

.card-below {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: block;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 100px;
  background-color: var(--darker-bg);
  border-radius: 10px;
  padding: 50px;
  width: fit-content;
}

.card-subtitle {
  font-size: 25px;
}

.card-text-link {
  text-decoration: none;
  color: var(--accent);
}
